<% content_for(:title, "List | To Do" ) %>

<h1><%= @list.name %></h1>

<% if @list.tasks.any? %>
  <h4>Here are thre tasks for this list:</h4>

  <ul>
    <% @list.tasks.each do |task| %>
      <% if task.done == false %>
        <li>
          <%= task.description %> |
          <%= link_to "edit", edit_list_task_path(@list, task), :class => "btn btn-warning" %> |
          <%= link_to "delete", list_task_path(@list, task),
                                      :data => {:confirm => "You sure?",
                                                  :method => "delete"},
                                                  :class => "btn btn-danger" %>|
          <%= form_for [@list, task] do |f| %>
            <%= f.hidden_field :done, value: true %>
            <%= f.submit "dun da dun", :class => "btn btn-success" %>
          <% end %>

        </li>
      <% else %>
      <li>
      <strike> <%= task.description %> </strike> |
      <%= link_to "delete", list_task_path(@list, task),
                                  :data => {:confirm => "You sure?",
                                              :method => "delete"},
                                              :class => "btn btn-danger" %>
      <%= form_for [@list, task] do |f| %>
        <%= f.hidden_field :done, value: false %>
        <%= f.submit "meow", :class => "btn btn-success" %>
      <% end %>


      </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>
    Yoor a lazy fuck!
  </p>
<% end %>

<p>
  <%= link_to "add a damn task yo", new_list_task_path(@list) %>
</p>

<p>
  <%= link_to "Back dat ass up", lists_path %>
</p>
<p>
  <%= link_to 'Edit', edit_list_path(@list) %>
</p>
<p>
  <%= link_to 'Delete', list_path(@list),
                        :data => {:confirm => "You sure?",
                                  :method => "delete"} %>
</p>
